
 .crossText {
    text-decoration: line-through;
    color: red !important;
  }
  .delete {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #1E90FF;
    outline: none;
  }
.modify {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: #1E90FF;
    color: white;
    outline: none;
  }
  
  
 .completed {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: green;
    margin-left: 10px;
    color: white;
    outline: none;
  }
  