.todo {
  align-self: center;
  color: white;
}
.todo .formWrapper{
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.todo input {
  background: transparent;
  border: none;
  color: black;
  border-bottom: 5px dashed black;
  min-width: 250px;
  padding: 5px;
  font-size: 1rem;
}
.todo input::placeholder {
  color: black;
  font-size: 1.3rem;
}
.todo input:focus {
  outline: none;
  border: 2px dotted black;
}
.todo .add-btn {
  padding: 10px;
  border-radius: 11%;
  color: black;
  font-size: 1.2rem;
  background-color: yellow;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  min-width: 150px;
  height: 50px;
  border: 3px solid black;
  outline: none;
}

.todo .taskWrapper {
  margin-top: 30px;
  font-size: 1.5rem;
}

.todo .taskWrapper div {
  list-style: none;
  margin-bottom: 4px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(236, 236, 236, 0.6);
  font-family: "Permanent Marker", cursive;
  color: black;
}
