

.header{
  width: 100vw;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .title {
    font-size: 5rem;
    padding: 0px 20px 0px 20px;
    background-color: rgb(242, 255, 123);
    border-radius: 10px;
    border: 2px solid black;
    align-self: center;
    color: #1b1b1b;
    font-family: "Covered By Your Grace", cursive;
  }
  .header .btn-logout{
    position: absolute;
    right: 22px;
    border-radius: 10px;
    border: 1px solid grey;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .btn-logout img{
    width: 30px;
    height: 30px;
}
