.login {
    align-self: center;
    color: white;
  }
  .login .formWrapper{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .login .formWrapper input {
    background: transparent;
    border: none;
    color: black;
    border-bottom: 5px dashed black;
    min-width: 250px;
    margin-top: 40px;
    padding: 5px;
    font-size: 1rem;
  }
  
  .login input::placeholder {
    color: grey;
    font-size: 1rem;
  }
  
  .login input:focus {
    outline: none;
    border: 2px dotted black;
  }
  
  .login .add-btn {
    padding: 10px;
    margin-top: 40px;
    border-radius: 11%;
    color: black;
    font-size: 1.2rem;
    background-color: yellow;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    min-width: 150px;
    height: 50px;
    border: 3px solid black;
  }
  .login .errorWrapper{
    margin-top: 15px;
    height: 18px;
  }
  .login span {
      color: red;
      font-size: 1rem;
  }